<div class="span6">
    <h2>Tables</h2>
    {{#each controller}}
        <span>{{id}}</span>
    {{/each}}
</div>

<div class="span6">
    <h2>Table Detail</h2>
    Click on some table on the left...
</div>
