<section id="tables" class="span4">
    <h1>Tables</h1>
    <div class="row">
        {{#each controller}}
            <a class="span2" href="">{{id}}</a>
        {{/each}}
    </div>
</section>

<div class="span7 offset1">
    <h1>Detail</h1>
    Click on some table on the left...
</div>
